.App {
  text-align: center;
}

.forecast {
  display: flex;
}

.column {
  flex: 1;
}

.column h2 {
  text-align: center;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 10px;
}

.table {
  display: inline-table; /* Ensures the table is displayed inline */
}
